{% if 'svc' not in old_sd %}
search svc.{{ k8s.networking.dnsDomain }} {{ k8s.networking.dnsDomain }} {{ old_sd }}
{% endif %}
{% for nameserver in external_dns_nameservers %}
nameserver {{ nameserver }}
{% endfor %}
options ndots:5 timeout:1 attempts:1
